
.div1{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.Images{
    display: flex;
    justify-content: center;
    transition: 0.35s;
}
.dummy{
    width: 80%; 
} 
.TheMiddleText{

    flex-direction: column;
    align-items: center;
}
.haveapadding{
    padding: 2px;
}
.text1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}
.text2{
    
    color: gray;
}
.text3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: justify;
}
.text4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.imges2{
    height: 150px;
    border-radius: 6px;
    transition: 0.35s;
}
/* .imges2:hover{
    height: 175px;
    border-radius: 0px;
} */
.TheBiggestDiv{
    display: flex;
    justify-content: center;
}
.TourDates{
    height: 850px; 
    width: 80%; 
    background-color: black;
}
.haveapadding2{
    display: flex;
    padding: 38px; 
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.TourDateDiv{
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ElegantText1{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    color: white;
}
.ElegantText2{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    color: white;
}
.ListOfMonths{
    padding: 5px;
    flex-direction: column;
    background-color: white;
    width: 45%;
}
.M0{
    
    align-items: center;
}
.M1{ 
    border-top: 1px solid rgb(203, 198, 198);
    align-items: center;
}
.M2{
     
    border-top: 1px solid rgb(203, 198, 198);
    align-items: center;
    
    justify-content: space-between;
}
.text5{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    display: flex;
    transition: 0.35s;
    width: 8.75%;
}
/* .text5:hover{
    width: 10%;
    font-weight: 900;
} */
.Soldout{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300; 
    text-align: center;
    padding-top: 30px;
    height: 50%;
    color: white;
    transition: 0.35s;
    background-color: red;
    padding: 5px;
}
/* .Soldout:hover{
    
    font-weight: 400; 
    padding-top: 32px;
    padding: 6px;
} */
.specialthing{
    color: white;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
    width: 20px;
    text-align: center;
    margin-right: 20px;
}
.threethings{
     padding: 60px;
    width: 45%;
    justify-content: space-between;
    display: flex;
}
.thetags{ 
    width: 30%;
    flex-direction: column;
    display: flex;height: 100%;
    align-items: center;
    background-color: white;
}
.images3{
    width: 100%;
    transition: 0.35s;
}
/* .images3:hover{
    width: 95%;
} */
.devourer{
    padding: 7px;
}
.TagInner1{
padding: 2px;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 900;
}
.TagInner2{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
.TagInner3{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
} 
.ButtonThing{
    padding: 5px;
    background-color: black;
    color: white;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 10px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    transition: 0.35s;
    text-align: center;
}
.ButtonThing:hover{
    width: 38%;
    padding-top: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    background-color: lightgray;
    color: black;
    padding-bottom: 7px;
}
.IDK{
    display: flex;
    align-items: center;
}
.haveapadding3{
    padding-right: 15px;
}
.haveapadding4{
    padding: 30px;
}
.damnson{ 
    display: flex;
    flex-direction: column;
}
.text6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}
.TheBigMan{
    padding: 40px;
    display: flex;
    width: 33%; 
    justify-content: space-between;
}
.Input1{
    width: 60%;
    display: flex;
}
.InputSub{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 8px;
    border: none;
    display: block; 
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    border: 1px solid #ccc!important;
}
.Input2{

    width: 93%;
}


.ButtonThing2{
    padding: 5px;
    background-color: black;
    color: white;
    width: 16%;
    padding-top: 8px;
    padding-bottom: 10px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    transition: 0.35s;
    text-align: center;
}
.ButtonThing2:hover{
    width: 16%;
    padding-top: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    background-color: lightgray;
    color: black;
    padding-bottom: 7px;
}
.HaveHugeBottomMargin{
    margin-top: 50px;
    margin-bottom: 100px;
}
#navbar{
    left: 0;
    right: 0;
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0  ;
    display: flex;
    align-items: center;
}
nav{
    height: 100%;
    align-items: center;
    display: flex;
}
.p-normal{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 20px;
}
.SuperMargin{
    margin-top: 80px;
    margin-bottom: 100px;

}
.text-cap{
    text-transform: capitalize;
}
.text-upper{
    text-transform: uppercase;
}
.d-ib{
    display: inline-block;
}
#more{
    position: relative;
}
.balls{
    width: 100%; 
}
#subnav{
    position: absolute;
    background-color: white;
    color: black;
    top: 100%;
    left: 0;
    box-shadow: 0 0 24px gray;
    display: none;
}
#more:hover #subnav{
    display: block;
}
nav>div:hover{
    background-color: #CCC;
    color: black;
}
#subnav>div{
    padding: 8px 16px;
}
#subnav>div:hover{
    background-color: #ccc;
    color: black;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
